main{
    font-family: sans-serif;
    line-height: 2;
    max-width: 65ch;
    margin: auto;
    font-size: 1.3rem;
    padding: 40px 30px;
    margin-bottom: 100px;
    [data-aos='highlight-animation']{
        background: linear-gradient(hsl(56 100% 53% / 0.8) 0 0) 0 100% / var(--width, 0) 10px no-repeat;
        &.aos-animate{
            --width: 100%
        }
    }
}
footer{
    max-width: 1200px;
    margin: auto;
    font-family: sans-serif;
    p{
        text-align: center;
        a{
            text-decoration: none;
            color: hsl(140, 64%, 27%);
            font-weight: 600;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}