main {
  font-family: sans-serif;
  line-height: 2;
  max-width: 65ch;
  margin: auto;
  font-size: 1.3rem;
  padding: 40px 30px;
  margin-bottom: 100px;
}
main [data-aos=highlight-animation] {
  background: linear-gradient(rgba(255, 239, 15, 0.8) 0 0) 0 100%/var(--width, 0) 10px no-repeat;
}
main [data-aos=highlight-animation].aos-animate {
  --width: 100% ;
}